<section class="header">
    <img class="bg-img" src="../../assets/img/bgKopie.png" alt="">
    <img class="bg-img" src="../../assets/img/graphic.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="left-side"  data-aos="fade-right" data-aos-duration="1000" >
                    <h1>
                        Follow the <br>
                        rules and grow
                    </h1>
                    <p>
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse mugiat nuesent lupt te fegait nulla facilisi. 
                    </p>
                    <button class="btn">find out how <i class="fa fa-sort-up"></i></button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 ">
                <div class="right-side" data-aos="zoom-in-left"  data-aos-duration="2000">
                    <img src="../../assets/img/graphics.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>