<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"> <img src="../../assets/img/logo.png" alt=""> </a>
  
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <i class="fa fa-close" (click)="closeMenu()" ></i>
      <ul class="navbar-nav mr-auto links-items">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">pages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">contact</a>
          </li>

      </ul>
    
    </div>
    <ul class="navbar-nav nav-menu-icon my-2 my-lg-0">
      <li class="nav-item icon-nav">
          <a class="lang" href="#"> 
              <img src="../../assets/img/united-states.png" alt="">
              <span>EN</span>
          </a>
        </li>
        <li class="nav-item icon-nav">
          <a class=" cart" href="#"> 
              <img src="../../assets/img/cart.png" alt="">
          </a>
        </li>
        <li class="nav-item icon-nav">
          <a  href="#"> 
              <img src="../../assets/img/search .png" alt="">
          </a>
        </li>
        <li class="nav-item icon-nav display-menu" (click)="showMenu()">
          <a  href="#"> 
              <img src="../../assets/img/icon.png" alt="">
          </a>
        </li>
    </ul>
  </nav>