<section class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 gal">
                <div class="left-side">
                    <img class="img1" src="../../assets/img/pattern(1).png" alt="">
                    <img   data-aos="fade-up"  data-aos-duration="800" class="img2" src="../../assets/img/illustration.png" alt="">
                    <img  data-aos="fade-right"  data-aos-duration="800" class="img3" src="../../assets/img/day7.png" alt="">
                    <img  data-aos="fade-left"  data-aos-duration="800" class="img4" src="../../assets/img/day9_4x.png" alt="">
                    <img class="img5" src="../../assets/img/PATTERN.png" alt="">
                    <img class="img6" src="../../assets/img/pattern5.png" alt="">
                    <div class="img-title" data-aos="zoom-in"  data-aos-duration="800" data-aos-delay="500" >
                        <hr>
                        <h3>Best Illustration
                            Designs</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
               <div class="right-side">

                    <span>WHAT WE DO</span>
                   <h1>
                    Create a beautiful
                    portfolio gallery
                   </h1>
                   <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                   <button class="btn btn-warning">LEARN MORE </button>
                </div>
            </div>
        </div>
    </div>
</section>