<section class="pricing">
    <div class="container">
        <span>PLANS AND PRICING</span>
        <h1>Check our best offers</h1>
   
        <div class="row">
            <div class="col-lg-4 col-sm-6 ">
                    <div class="item item1" data-aos="fade-right"  data-aos-duration="1500">
                        <span>BEGINNER & STARTER</span>
                        <div class="number">
                            <sup>$</sup>29
                        </div>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum.   </p>
                        <ul>
                            <li> Dashboard entrance </li>
                            <li>1x User Account</li>
                            <li>1x E-Mail Account</li>
                            <li>Webhosting</li>
                            <li>Customer Support</li>
                        </ul>
                        <button >
                            LOAD MORE
                        </button>
                    </div>
            </div>
            <div class="col-lg-4 col-sm-6 ">
                <div class="item item2" data-aos="fade-up"  data-aos-duration="1500">
                    <span>business</span>
                    <div class="number">
                        <sup>$</sup>49
                    </div>
                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum.   </p>
                    <ul>
                        <li> Dashboard entrance </li>
                        <li>1x User Account</li>
                        <li>1x E-Mail Account</li>
                        <li>Webhosting</li>
                        <li>Customer Support</li>
                    </ul>
                    <button >
                        LOAD MORE
                    </button>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 ">
                <div class="item item3" data-aos="fade-left"  data-aos-duration="1500">
                    <span>professional</span>
                    <div class="number">
                        <sup>$</sup>79
                    </div>
                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum.   </p>
                    <ul>
                        <li> Dashboard entrance </li>
                        <li>1x User Account</li>
                        <li>1x E-Mail Account</li>
                        <li>Webhosting</li>
                        <li>Customer Support</li>
                    </ul>
                    <button >
                        LOAD MORE
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>