<section class="portfolio">
    <div class="container">
        <span>case studies</span>
        <h1>Our Portfolio</h1>

        <ul class="text-center">
            <li class="filter active"  data-rel="all" >ALL</li>
            <li class="filter" data-rel="web">WEBDESIGN</li>
            <li class="filter" data-rel="typo" >TYPO</li>
            <li class="filter" data-rel="branding" >BRANDING</li>
            <li class="filter" data-rel="develop" >DEVELOPEMENT</li>
        </ul>
                                                      
        <div class="row projects">
            <div class="col-md-4 col-12 images  ">
                <div class="basic-img pics animation all branding">
                    <img src="../../assets/img/05 (1).png" >
                    <div class="overlay">
                        <h4>Branding Project</h4>
                        <hr>
                        <span>design,mockup,inspiration</span>
                    </div>
                </div>
                <div class="basic-img pics animation all typo">
                    <img src="../../assets/img/05 (1).png" >
                    <div class="overlay">
                        <h4>Typo Project</h4>
                        <hr>
                        <span>design,mockup,inspiration</span>
                    </div>
                </div>
               
            </div>
            <div class="col-md-4 col-12 images   ">
                <div class="basic-img pics animation all branding">
                    <!-- <img src="../../assets/img/05 (1).png" > -->
                    <div class="overlay">
                        <h4>Branding Project</h4>
                        <hr>
                        <span>design,mockup,inspiration</span>
                    </div>
                </div>
                <div class="basic-img pics animation all web">
                    <img src="../../assets/img/05 (1).png" >
                    <div class="overlay">
                        <h4>Web Design Project</h4>
                        <hr>
                        <span>design,mockup,inspiration</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 images  ">
                <div class="height-img pics animation all web">
                    <img src="../../assets/img/07.png" >
                    <div class="overlay">
                        <h4>Web Design Project</h4>
                        <hr>
                        <span>design,mockup,inspiration</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 images  ">
             <div class="basic-img pics animation all develop">
                <img src="../../assets/img/05 (1).png" >
                <div class="overlay">
                    <h4>Developement Project</h4>
                    <hr>
                    <span>design,mockup,inspiration</span>
                </div>
             </div>
            </div>
            <div class="col-md-8  col-12 images  ">
                <div  class="basic-img pics animation all develop">
                    <img src="../../assets/img/03 (3).png" >
                    <div class="overlay">
                        <h4>Developement Project</h4>
                        <hr>
                        <span>design,mockup,inspiration</span>
                    </div>
                </div>
            </div>
          </div>
          <div class="btn-more">
            <button class="btn">LOAD MORE</button>
          </div>
        
    </div>
</section>
