<section class="cms text-center">
    <div class="cms-header">
        <img class="img1" src="../../assets/img/Ellipse11Kopie2.png" alt="">
        <img class="img2" src="../../assets/img/Ellipse11Kopi2.png" alt="">
        <img class="img3" src="../../assets/img/stars.png" alt="">
        <img class="img31" src="../../assets/img/stars.png" alt="">
        <div class="cms-title">
            <span>call to action</span>
            <h1>Start building your website with a modern CMS</h1>
            <p>Aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <div class="cms-body">
        <div class="container ">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="item">
                        <div class="icon">
                            <img src="../../assets/img/Form 22.png" alt="">
                        </div>
                        <h4>Userfriendly Experience</h4>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero erol delenit augue duis dolore te feugait nulla facilisi.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="item">
                        <div class="icon icon2">
                            <img src="../../assets/img/Form 23.png" alt="">
                        </div>
                        <h4>Customer Live Statistics</h4>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero erol delenit augue duis dolore te feugait nulla facilisi.</p>
                        <img class="number" src="../../assets/img/022.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>