<section class="feature">
    <div class="container">
        <span>features and services</span>
        <h1>How we satisfy our clients</h1>
        <div class="row feature-item">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="item item1 "  data-aos="zoom-in"  data-aos-duration="800" >
                    <div class="icon">
                        <img src="../../assets/img/Form 15.png" alt="">
                    </div>
                    <h4>Dashboard Features</h4>
                    <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolor erat.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="item item2"  data-aos="zoom-in"  data-aos-duration="800" data-aos-delay="300">
                    <div class="icon">
                        <img src="../../assets/img/Form 5.png" alt="">
                    </div>
                    <h4>Userfriendly Experience</h4>
                    <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolor erat.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="item item3" data-aos="zoom-in"  data-aos-duration="800" data-aos-delay="600">
                    <div class="icon">
                        <img src="../../assets/img/Form 7.png" alt="">
                    </div>
                    <h4>Colour Shemes</h4>
                    <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolor erat.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="item item4" data-aos="zoom-in"  data-aos-duration="800" data-aos-delay="900">
                    <div class="icon">
                        <img src="../../assets/img/Form 8.png" alt="">
                    </div>
                    <h4> Different Layouts</h4>
                    <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolor erat.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6" data-aos="zoom-in"  data-aos-duration="800" data-aos-delay="1200">
                <div class="item item5">
                    <div class="icon">
                        <img src="../../assets/img/Form 9.png" alt="">
                    </div>
                    <h4>Vector Based Graphics</h4>
                    <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolor erat.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6" data-aos="zoom-in"  data-aos-duration="800" data-aos-delay="1500">
                <div class="item item6">
                    <div class="icon">
                        <img src="../../assets/img/Form 10.png" alt="">
                    </div>
                    <h4>Pixel Perfect Design</h4>
                    <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolor erat.</p>
                </div>
            </div>
        </div>
    </div>
</section>